[submodule "upstream/bitcoin-keeper"]
	path = upstream/bitcoin-keeper
	url = https://github.com/KeeperCommunity/bitcoin-keeper.git
	branch = sprint
[submodule "upstream/bullbitcoin"]
	path = upstream/bullbitcoin
	url = https://github.com/SatoshiPortal/bullbitcoin-mobile.git
	branch = develop
[submodule "upstream/bluewallet"]
	path = upstream/bluewallet
	url = https://github.com/BlueWallet/BlueWallet.git
	branch = master
